.header {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  gap: 1rem;
}

.list a {
  text-decoration: none;
  color: var(--accent-6);
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.list a:hover,
.list a.active {
  color: var(--foreground);
  background-color: var(--accent-2);
}
