.newsletter {
  display: flex;
  max-width: 25rem;
  margin: 1rem auto;
}

.newsletter input {
  flex-grow: 1;
  padding: 0.75rem;
  font: inherit;
  background-color: var(--accent-1);
  border: 1px solid var(--border-color);
  color: var(--foreground);
  border-radius: 6px 0 0 6px;
  transition:
    border-color 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

.newsletter input:focus {
  outline: none;
  border-color: var(--success);
  background-color: var(--accent-2);
}

.newsletter button {
  font: inherit;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border: 1px solid var(--success);
  border-left: none;
  background-color: var(--success);
  color: var(--foreground);
  border-radius: 0 6px 6px 0;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.newsletter button:hover {
  background-color: var(--success-light);
  color: var(--foreground);
}
