* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --background: #000000;
  --accent-1: #111111;
  --accent-2: #333333;
  --accent-3: #444444;
  --accent-4: #666666;
  --accent-5: #888888;
  --accent-6: #999999;
  --accent-7: #eaeaea;
  --accent-8: #fafafa;
  --foreground: #ffffff;

  --primary: var(--accent-6);
  --secondary: var(--accent-5);

  --success: #0070f3;
  --success-light: #3291ff;
  --success-dark: #0366d6;

  --error: #ff0000;
  --error-light: #ff3333;
  --error-dark: #e60000;

  --warning: #f5a623;
  --warning-light: #f7b955;
  --warning-dark: #e69619;

  --border-color: var(--accent-2);
}

body {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
